@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
  font-family: 'Rubik', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: .2s linear;
  text-transform: capitalize;
}

*::selection{
  background-color: green;
  color:white;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: yellow;
  border-radius: 5rem;
}

body{
  background-image: url("../images/bg.gif");
}

section{
  max-width: 1200px;
  margin:0 auto;
  padding:2rem;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  color: #b4b9ff;
  cursor: pointer;
  background-color:#2532e5 ;
  font-size: 1.8rem;
  padding:1rem 3rem;
}

.btn:hover{
  color: #2532e5 ;
  background-color:#b4b9ff;
}

.heading{
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 4rem;
  color:#8aa1ece4;
  text-transform: uppercase;
}

.heading span{
  color:#082890a0;
  text-transform: uppercase;
}

.header{
  position: fixed;
  top:0; left:0; right:0;
  z-index: 1000;
  background-color: transparent;
}

.header .flex{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .logo{
  font-size: 2.5rem;
  color:rgba(255, 250, 250, 0.773);
}

.header .flex .navbar a{
  margin-left: 2rem;
  color:rgb(194, 194, 253);
  font-size: 2rem;
}

.header .flex .navbar a:hover{
  color:rgba(180, 180, 255, 0.782);
}

#menu-btn{
  cursor: pointer;
  color:rgb(194, 194, 253);
  font-size: 2.5rem;
  display: none;
}

.header-scrolled
{

  background-color: rgba(28, 28, 69, 0.768);
  box-shadow: 0 3px 20px rgba(143, 222, 236, 0.592);
  opacity: 0.7;
}
.header .scrolled
{
  color: transparent;
}
.home{
  margin-top: 25px;
}

.home .row{
  margin-top: 40px;
  background-image: url("../images/homeb2.gif");
  opacity: 0.8;
  box-shadow: 0 3px 20px rgb(67, 66, 66);
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap:15px;
}

.home .row .content{
  flex:1 1 70px;
  text-align: center;
  opacity: 0.9;
  font: 700 normal 2.5em 'tahoma';
 
}

.home .row .image{
  flex:1 1 50px;
}
.home .row .image img{
  width: 100%;
  margin-top: 20px;
}

.home .row .content h3{
  margin-top: 30px;
  font-size: 60px;
  color:#1a1933;
  opacity: 0.9;
  line-height: 1;
  overflow: hidden;
  white-space:unset;
  animation: 
    typing 3s steps(40, end),
    blink-caret .0s step-end infinite ;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.home .row .content a{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  padding: 3px;
  box-shadow: 0 3px 20px #2532e5 ;
  text-decoration: none;
  border-radius: 5px;
  overflow: hidden;
  animation: fade 3s ease-in-out forwards;
  opacity:0;
  color:#1a1933;
 background-color:#b4b9ff ;
 border-radius: 35px;
}
@keyframes fade{
  to {opacity:1;}
}
.home .row .content a:hover{
  color:#b4b9ff;
  background-color: #1a1933;
}
.home .row .content h3 span{
  color:#2532e5;
}
.home .row .image{
  width:350px;

}
.about .row{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   flex-wrap: wrap;
   background-color: rgba(60, 59, 58, 0.746);
   border-radius: 10000px  200px 600px;
   box-shadow: 0 3px 20px rgb(67, 66, 66);
}

.about .row .image{
   flex:1 1 40rem;
}

.about .row .image img{
   width: 100%;
}

.about .row .content{
   text-align: center;
   flex:1 1 40rem;
}

.about .row .content h3{
   font-size: 3rem;
   color:#2532e5;
}

.about .row .content p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.6rem;
   color:#b2b6ef;
    
}


.services .box-container{
  display: grid;
  height: 500px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.5fr));
  gap:1rem;
  background-color: transparent;
  box-shadow: 0 1px 10px rgba(244, 241, 241, 0.528);
  border-radius: 20px 20px;
}

.services .box-container .box{
  padding:2rem;
  background:rgba(160, 198, 247, 0.426);
  border: solid 4px rgba(236, 236, 243, 0.551);
  border-radius: 20px 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.services .box-container .box:hover
{
  background: rgba(13, 53, 73, 0.294);
  border-radius: 200px  600px 5000px;
  border:.1rem solid rgb(177, 206, 230);
}
.services .box-container .box img{
  height:15rem;
  margin:1rem 0;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
  border-radius: 10px 30px;
  opacity: 0.7;
}
.services .box-container .box h3{
  color:#d5d8fccb;
  font-size: 2rem;
  
}
.services .box-container .box span{
  color:#080d56;
  font-weight: bolder;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}

.container{
  position: relative;
  max-width: 100%;
  width: 100%;
  background:  rgba(160, 198, 247, 0.426);
  margin: 5 15px;
  padding: 5px 15px;
  border-radius: 7px;
  box-shadow: 0 3px 20px rgb(67, 66, 66);
  border: solid 4px rgba(236, 236, 243, 0.551);
}
.container .skill-box{
  width: 100%;
  margin: 25px 0;
  
}
.skill-box .title{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #082890db;
}
.skill-box .skill-bar{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background:#a6b7efdb;
}
.skill-bar .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #082890db;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
  border: solid 2px #082890db;
}
.skill-per.css{
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.javascript{
  width: 50%;
  animation-delay: 0.2s;
}
.skill-per.PHP-Mysql{
  width: 50%;
  animation-delay: 0.3s;
}
.skill-per.Graphic-Designing{
  width: 70%;
  animation-delay: 0.3s;
}
.skill-per.Video-and-Image-Editing{
  width: 80%;
  animation-delay: 0.3s;
}
@keyframes progress {
  0%{
      width: 0;
      opacity: 1;
  }
  100%{
      opacity: 1;
  }
}
.skill-per .tooltip{
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #082890db;
  z-index: 1;
}
.tooltip::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color:#09112cdb ;
  transform: translateX(-50%) rotate(45deg);
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.5fr));
  gap:1rem;
  background-color:  rgba(142, 187, 245, 0.719);

}

.footer .box-container .box h3{
  padding:.3rem 0;
  font-size: 2rem;
  color:#003bfedb;
}

.footer .box-container .box a{
  display: block;
  padding:.4rem 0;
  font-size: 1.5rem;
  color:#082890db;
}

.footer .box-container .box a:hover{
  color:#003bfedb;
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  border-top: 1rem solid #1b4ffadb;
  font-size: 2rem;
  color:#082890db;
  padding:.4rem;
  padding-top: 1rem;
  margin-top: 1rem;
}

.footer .credit span{
  color:#b4c4f8db;
}
.footer
{
  background-color: #2d5eff8a;
  
}
.footer .box-container .row form{
    width:30rem;
    height: 350px;
    margin-bottom: 15px;
    box-shadow:#2d5eff8a;
    background:#031d72db;
    color: #b4c4f8db;
    padding:30px;
    margin-right:60px;
    border-radius: 20px;
}
.footer .box-container .row form .box{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #b4c4f8db;
  font-size: 10px;
  color:#9fb1eedb;
  padding:5px;
  text-transform: none;
 }
 
 .footer .box-container .row form span{
  font-size: 10px;
  color:#b4c4f8db;
  text-transform: capitalize;
 }
 
 

 
 .footer .box-container.row form input[type=submit]{
  align-items: center;
  border-radius: 5px;
  margin: 25px;
  padding: 7px;
  color: #031d72db;
  background-color: #2d5eff8a;
  font-size: 12px;
 }
 .footer .box-container .row form input[type=submit]:hover{
  color:#031038c7;
  
 }
 .footer .box-container .box i
 {
  color:#0640ff88;
  padding:10px;
  font-size: 20px;
 }
 .footer{
  background-color: #2d5eff8a;
  text-align: center;
  /* padding-bottom: 7rem; */
}
.footer .share h3
{
  color: #0f1f55df;
}
.footer .share a{
  margin:0 .3rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color:#031d72db;
  background-color: #2d5eff8a;
}

.footer .share a:hover{
  background-color: #031d72db;
  color:#2d5eff8a ;
}
@media (max-width:991px){

  html{
     font-size: 55%;
  }

  .home .row .content h3{
     font-size: 8rem;
  }
  .home .row .image{
    margin-top: 35px;
    width:100%;
  
  }
  .about .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    background-color: antiquewhite;
 }
}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
 }

 #menu-btn.fa-times{
    transform: rotate(180deg);
 }

 .header .flex .navbar{
    position: absolute;
    top:99%; left:0; right:0;
    border-top: .1rem solid rgb(80, 80, 255);
    border-bottom: .1rem solid rgb(114, 114, 251);
    background-color: rgba(28, 28, 69, 0.768);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
 }

 .header .flex .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
 }
 
 .header .flex .navbar a{
    display: block;
    margin:2rem;
 }

  .home .row .content h3{
     font-size: 6rem;
  }
  .home .row .image{
    margin-top: 40px;
    width:100%;
  
  }
  .about .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    background-color: antiquewhite;
 }
 
}

@media (max-width:450px){

  html{
     font-size: 50%;
  }
  
  .home .row .content h3{
     font-size: 3rem;
  }

  .heading{
     font-size: 2rem;
  }
  .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    color: #b4b9ff;
    cursor: pointer;
    background-color:#2532e5 ;
    font-size: 1rem;
    padding:1rem 3rem;
  }
  
  .btn:hover{
    color: #2532e5 ;
    background-color:#b4b9ff;
  }
  .home .row .content a
  {
    font-size: 2rem;
  }
  .home .row .image{
    flex:1 1 50px;
  }
  .home .row .image img{
    width: 100%;
    margin-bottom: 30px;
  }
  .home .row .image
  {
    width:450px;
  }
  .heading{
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 4rem;
    color:#8aa1ece4;
    text-transform: uppercase;
  }
  
  .heading span{
    color:#082890a0;
    text-transform: uppercase;
  }
  .about .row{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: rgba(60, 59, 58, 0.746);
 }
 .about .row .image{
  margin-bottom:50px;
  flex:1 1 17rem;
}

.about .row .image img{
  width: 100%;
}

.about .row .content{
  text-align: center;
  flex:1 1 20rem;
}

.about .row .content h3{
  font-size: 2.5rem;
  color:#2532e5;
}

.about .row .content p{
  padding:0.5rem 0;
  line-height: 1;
  font-size: 1.5rem;
  color:#b2b6ef;
   
}
.services .box-container{
  display: grid;
  height: 500px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.5fr));
  gap:1rem;
  background-color: transparent;
  box-shadow: 0 1px 10px rgb(67, 66, 66);
  border-radius: 20px 20px;
}
.services .box-container .box{
  padding:0.5rem;
  position: relative;
  background: rgba(160, 198, 247, 0.426);
  border: solid 2px rgba(236, 236, 243, 0.551);
  overflow: hidden;
  text-align: center;
  border-radius: 20px 20px;
}
.services .box-container .box:hover
{
  background: rgba(13, 53, 73, 0.294);
  border-radius: 200px  600px 5000px;
  border:.1rem solid rgb(175, 218, 240);
}
.services .box-container .box img{
  height:10rem;
  margin:1rem 0;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
  border-radius: 5px 15px;
}
.services .box-container .box h3{
  color:#d5d8fccb;
  font-size: 1.5rem;
}
.services .box-container .box span{
  color:#080d56;
  font-weight: bolder;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.footer .box-container .box h3{
  padding:1rem 0;
  font-size: 7px;
  color:#003bfedb;
}
.footer .box-container .box a 
{
  display: grid;
  font-size: 5px;
  margin:3px;
  padding: 1.5px;
}
.footer .share a{
  margin:1rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  color:#031d72db;
  background-color: #2d5eff8a;
}

.footer .share a:hover{
  background-color:#031d72db ;
  color:#2d5eff8a;
}
}